/* You can add global styles to this file, and also import other style files */

// font imports
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// variables
$font-color-text: white;
$font-color-title: #98ffa7;
$font-color-cover-title: #98ffa7;
$font-family-cover-title: 'Work Sans';
$font-size-cover-title: 100px;
$font-size-cover-text: 30px;
$font-size-base: 20px;
$font-size-title: 50px;
$font-family-base: 'Raleway'; //'Roboto', 'sans-serif';
$font-family-body-text: 'Raleway';
$font-size-body-text: 18px;
$background-base: #0a0a29;
$line-height-base: 1.6;

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background: $background-base;
    color: $font-color-text;
    font-family: $font-family-base;
    font-size: $font-size-base;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

button, li {
    outline: none;
}

::selection {
    background: $font-color-text;
    color: $font-color-title;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    color: grey;

    div:nth-child(1) {
        height: 25px;
    }

    div i {
        font-size: 18px;
        display: inline-block;
        margin: auto 20px;
    }

    div a {
        color: grey;
    }
    
  }  

.cover * { 
    display: block;
    text-align: left;
}

.cover-title {
    color: $font-color-cover-title;
    // margin-left: 10%;
    text-align: center;
    margin-top: 12%;
    font-size: $font-size-cover-title;
    font-family: $font-family-cover-title;
}

.cover-text {
    // margin-left: 10%;
    text-align: center;
    font-size: $font-size-cover-text;
}

.cover-contact-btn {
    background: transparent;
    font-family: $font-family-base;
    font-size: 20px;
    color: $font-color-text;
    margin: 40px 10%;
    height: auto;
    padding: 10px;
}

.cover-contact-btn:hover {
    transition: all ease-out 0.2s;
    background: $font-color-text;
    color: $background-base;
}

.navbar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end;
    height: 50px;
    width: 95%;
    margin-top: 40px;
    right: 10px;
    color: $font-color-title;
}

.navLink {
    font-size: 18px;
    display: inline-block;
    vertical-align: center;
    margin-left: 40px;
    outline: none;
    color: darken($font-color-title, 55);
}

@media only screen and (max-width: 768px) {
    .navLink {
        margin-left: 10px;
    }
}

.navLink:hover {
    transition: all ease 0.5s;
    color: $font-color-title;
}

.component {
    width: 70%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .component {
        width: 90%;
    }
}

.profile-pic {
    border-radius: 100%;
    width: 200px;
    display: block;
    border: 2px solid white;
    margin: 5px auto;
}

.about-title {
    color: $font-color-title;
    font-size: $font-size-title;
}

.about-text {
    color: $font-color-text;
    text-align: justify;
    line-height: $line-height-base;
    font-family: $font-family-body-text;
    font-size: $font-size-body-text;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.projects-title {
    color: $font-color-title;
    font-size: $font-size-title;
}

.project {
    margin: 20px 10px 20px 10px;
    padding: 2px;
    width: 80%;
    position: relative;
    overflow: hidden;
    background: $font-color-text;
}

@media only screen and (max-width: 768px) {
    .project{
        width: 100%;
    }
}

.project-footer  {
    height: 30px;
    width: 100%;
    text-align: center;
    a {
        width: 100%;
        text-decoration: none;
        color: $background-base;
    }
}

.project img {
    position: relative;
    width: 100%;
    height: 100%;
}

.project-description {
    font-size: 16px;
    color: #0a0a29;
    text-align: justify;
    padding: 40px;
    line-height: 1.6;
    position: absolute;
    // width: 90%;
    height: 100%;
    overflow: auto;
    top: 100%;
    background: white;
    
    // height: 100%;
    // color: #0a0a29;
    // display: none;
}

@media only screen and (max-width: 600px) {
    .project-description {
        width: auto;
        height: 60%;
    }
}
.project-div:hover .project-description {
    top: 0;
    transition: all 0.3s ease;
    // display: block;
}